.page-header
  .pull-right
    = link_to "New Entry", new_entry_path, class: "btn btn-primary"
  %h1 Entries

%table.table.table-striped
  %thead
    %tr
      %th Date
      %th Excerpt
  %tbody
    - @entries.each do |entry|
      %tr
        %td= entry.date
        %td= entry.content
